<body>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
    </div>
  </div>
</nav>
    <body>
    <br>
    <h1>Welcome, <users> {{  displayname}}! </users></h1>


    <div id="group-info">
      {{#each groups}}
      <button data-id="{{this.groupNums}}" data-name="{{this.groups}}">View League</button>
      <h1 class="group-name">{{this}}</h1>
      {{/each}}
    </div>

    


    <div>
      <button id="newGroup-btn" class="btn btn-primary">Click Here to Create a new League!</button>
      <button id="makePicks-btn" class="btn btn-primary">Click Here to Make Picks!</button>
    </div>



    <div id="allMembersResults"></div>


    <br><button style="font-size: larger;"> <a href="./TempLogin.html">go back to login page</a></button>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Welcome {{email}} <span class="member-name"></span> (<span class="member-email"></span>)</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h3>Group Membership</h3>
        <h4><span class="group-names"></span></h4>
        <button type="button" id="picks-btn" class="btn btn-primary">Get My Picks</button>
        <button type="button" id="displayname-btn" class="btn btn-primary">Set Display Name</button>
        <input class="form-control" id="name_field" type="text" placeholder="Enter display name">
        <h5><span id="picks-list"></span></h5>
      </div>
    </div>    
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/js/members.js"></script>

</body>